<div id="formulario" *ngIf="esForm">
  <form action="">
  <p class="textform">
    <mat-form-field class="forminput">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Login">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p class="textform">
    <mat-form-field  class="forminput">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Email">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p class="textform">
    <mat-form-field class="forminput">
      <mat-label>Fill form field</mat-label>
      <input type="password" matInput placeholder="Contraseña">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
</form>
</div>
<button  *ngIf="esForm" mat-raised-button color="primary" id="btn_registro" (click)="btn_registro()" type="button">Regístrate</button>

