#formulario{
  padding: auto;
  width: 40vh;
  height: 50vh;
  box-shadow: #84b0e87c;
  background-color: #0062e2;
  text-align: center;
}

.forminput{
  width: 100%;
}

#btn_registro{
  border-radius: 0;
  width: 40vh;
  background-color: #0062e2;
  margin-top: 0;
}

#btn_registro :hover{
  background-color: #4491f5;
}
