<div id="formulario" *ngIf="esForm">
  <p class="textform">
    <mat-form-field appearance="fill" class="forminput">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Login">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p class="textform">
    <mat-form-field appearance="fill" class="forminput">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p class="textform">
    <mat-form-field appearance="fill" class="forminput">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Contraseña">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" id="btn_registro" (click)="btn_registro()" type="button">Regístrate</button>
</div>
