#formulario{
  width: 50vh;
  height: 50vh;
  position: absolute;
  border-radius: 10px;
  border: 0.5px solid;
  box-shadow: #84b0e87c;
  background-color: #023c87d7;
  text-align: center;
}

.forminput{
  text-align: center;
  width: 100%;
}

#btn_registro{
  margin-top: 0;
}

